- content_for :javascripts do
  =javascript_include_tag "jquery.validate"
  =javascript_include_tag "newuser_validation"

%section.admins
  %h2
    Cadastro de Admin
  = link_to 'Voltar', associates_path, :class =>"back"
  = render 'form'
