- content_for :javascripts do
  =javascript_include_tag "jquery.validate"
  =javascript_include_tag "newstock_validation"

%section.stocks_new
  %h2 Novo estoque
  = render 'form'
  = link_to 'Voltar', users_stocks_path
