- content_for :javascripts do
  =javascript_include_tag "jquery.validate"
  =javascript_include_tag "editproduct_validation"

%section.edit_products
  %h2 Editar Produtos

  = render 'form'
  
  = link_to 'Voltar', users_products_path, :class =>"back"
