%section.products_show
  %h2#notice= notice
  %strong Nome:
  %span
    = @users_product.name
  .edit_back
    = link_to 'Editar', edit_users_product_path(@users_product)
    \|
    = link_to 'Voltar', users_products_path, :class =>"back"
