- content_for :javascripts do
  =javascript_include_tag "jquery.validate"
  =javascript_include_tag "editcategorie_validation"

%section.edit_categories
  %h2 Editar Categorias

  = render 'form'
  = link_to 'Voltar', users_categories_path
