%section.categories
  %h2 Listagem de categoria de produtos
  %ul
    %li
      %strong Nome
    %li.menu
      - @users_categories.each do |users_category| 
        %ul
          %li
            %span= users_category.name
          %li
            = link_to 'Editar', edit_users_category_path(users_category)
          %li
            = link_to 'Deletar', [:users, users_category], :confirm => 'Você tem certeza?', :method => :delete
    %li
      = link_to 'Nova Categoria', new_users_category_path
