%section
  %article
    %p  A Unifloor pensou nos minimos detalhes para tornar o seu ambiente perfeito. Os nossos acessorios sao feitos de MDF, um material resistente que possibilita um acabamento sem deixar fendas e ferpas. Juntamente com a qualidade de primeira linha, oferecemos tambem diversas opcoes de cores que combinam com todos os tipos de piso Unifloor. 
%aside
  %header
    %h3 Acessórios
  %ul
    %li
      %a{:href=>"Redutor", :title=>"Redutor"} Redutor
    %li
      %a{:href=>"Trasição", :title=>"Trasição"} Trasição
    %li
      %a{:href=>"Rodapé", :title=>"Rodapé"} Rodapé
%section#redutor
  %header
    %h4 Redutor
  %figure
    =image_tag "accessories/perfil-redutor.png", :alt=>"Redutor"
%section#trasicao
  %header
    %h4 Transição
  %figure
    =image_tag "accessories/perfil-transicao.png", :alt=>"Transição"
%section#rodape
  %header
    %h4 Rodapé
  %figure
    =image_tag "accessories/rodape-5cm.png", :alt=>"Rodapé"