%section.products
  %aside
    %header
      %h3 Produtos
      %ul
        %li.active
          %a{:href=>"javascript://", :title=>"Top Plus"} Top Plus
        %li
          %a{:href=>"javascript://", :title=>"Elegance"} Parquet
  %section#top_plus
    %header
      %h2 Top Plus
    %figure
      %ul.slide_products
        %li
          =image_tag "products/carvalho.png", :alt => "Carvalho"
        %li
          =image_tag "products/carvalho_claro.png", :alt => "Carvalho Claro"
        %li
          =image_tag "products/carvalho_wood.png", :alt => "Carvalho Wood"
        %li
          =image_tag "products/carvalho_imperial.png", :alt => "Carvalho Imperial"
        %li
          =image_tag "products/tauari.png", :alt => "Tauari"  
        %li
          =image_tag "products/patina_branco.png", :alt => "Patina Branco"
        %li
          =image_tag "products/faya.png", :alt => "Faya"
    %article
      %header
        %h4 Caracteristicas Técnicas
      %p Abrasão: AC3
      %p Sistema de encaxe: Click sem cola
      %p Tamanho: 8,3x196x1215mm
      %p Utilização: Residencial/Comercial
      %p Garantia: 10 anos residencial 
      %p.last 5 anos comercial
    %aside.colors
      %header
        %h4 Cores
      %ul
        %li.active
          %a{:href=>"javascript://", :title=>"Carvalho"} Carvalho
        %li
          %a{:href=>"javascript://", :title=>"Carvalho Claro"} Carvalho Claro
        %li
          %a{:href=>"javascript://", :title=>"Carvalho Wood"} Carvalho Wood
        %li
          %a{:href=>"javascript://", :title=>"Carvalho Imperial"} Carvalho Imperial
        %li
          %a{:href=>"javascript://", :title=>"Maple Montreal"} Maple Montreal<br/>(Em breve)
        %li
          %a{:href=>"javascript://", :title=>"Maple Montreal"} Tauari
        %li
          %a{:href=>"javascript://", :title=>"Pátina Branco"} Pátina Branco
        %li
          %a{:href=>"javascript://", :title=>"Faya"} Faya