%section
	%article
		%p Muita dedicação, altos investimentos e grande preocupação em aprimorar os seus serviços fizeram com que a Global, fundada em 1993, se tornasse em uma das principais empresas de exportação no setor de piso de madeira maciça e DECK do Brasil. Tendo como foco a inovação, eficácia e honestidade, a empresa conquistou, tanto nacional quanto internacionalmente, a confiança de seus clientes.
		%p Inicialmente, a Global atuava somente no mercado brasileiro e chinês com a sede em São Paulo. Graças a credibilidade conquistada no decorrer dos anos, a empresa pôde expandir o seu mercado para os Estados Unidos, África do Sul e alguns países da Europa. Para melhor administração, a empresa abriu novos escritórios em Hong Kong, Curitiba e Belém.
		%p  Em 2010 a Global fundou a Unifloor Piso Laminado em parceria com as fabricas chinesas com o objetivo de atender ao mercado brasileiro. A Unifloor adquiriu um vasto know-how na produção de pisos laminados e seus acessórios. Mantendo um rigoroso controle de qualidade no processo de produção, transformação, testes e embalagem, a Unifloor cumpre normas internacionais como o ISO9001 (Sistema de Gestão da Qualidade), o ISO14001 (Sistema de Gestão Ambiental) e o Certificado de Conformidade da Europa (CE).
		%p Para melhor atendimento, podemos fazer inclusive a personalização do produto de acordo com as exigências do cliente, possibilitando a variação das cores e design segundo a sua demanda, sem prejudicar a qualidade do produto. 
	%figure
		=image_tag "unifloor.png", :alt =>"Unifloor"