%section.customers
  %h2 Clientes
  = link_to 'Novo Cliente', new_users_customer_path, :class=> "new"
  = link_to "Voltar", users_root_path, :class=> "back"
  %table
    %tr
      %th Nome
    - @customers.each do |customer|
      %tr
        %td= customer.name
  

