%h2{ :style => "font-size: 20px; color: #009C57;"} UniFloor
%p
	%b{ :style => "font-size: 15px; color: #009C57;"} Nome: 
	= @message.name
%p
	%b{ :style => "font-size: 15px; color: #009C57;"} E-mail: 
	= @message.mail
%p
	%b{ :style => "font-size: 15px; color: #009C57;"} Assunto: 
	= @message.subj
%p
	%b{ :style => "font-size: 15px; color: #009C57;"} Mensagem: 
	= @message.message
