//resets & imports
@import "compass/reset" 
@import "compass/css3"

=reset-focus
  outline-color: #009C57

//variables
$main_color: #009C57
$main_color2: #7A6B68
$border_default: 1px solid $main_color
=atitle
  color: $main_color
  font-weight: bold
  font-size: 16px
  text-transform: uppercase
  &:hover
    text-decoration: underline

input,textarea
  +border-radius( 5px )
  height: 32px
  resize: none
  width: 390px
  border: 1px solid $main_color2
  background: none
  &:focus
    border: 1px solid #009C57
    +border-radius( 5px )

a
  text-decoration: none
  color: $main_color2

@mixin button( $color1, $color2, $f-size )
  +background-image(linear-gradient(lighten( $color1, 50 ), darken($color1, 10)))
  color: $color2
  font-size: $f-size
  +border-radius(5px)
  padding: 5px 10px
  &:hover
    +background-image(linear-gradient(darken( $color1, 10 ), lighten( $color1, 50)))

=aside_menu
  width: 95px
  float: left
  border-right: $border_default
  margin-left: 50px
  h3
    margin-bottom: 15px
  ul
    li 
      a
        margin-bottom: 15px    
        display: block
        &:hover
          background: url('link-p-hover.png') no-repeat
          color: $main_color
          padding-left: 15px
    li.active
      a
        background: url('link-p-hover.png') no-repeat
        color: $main_color
        padding-left: 15px

//body
body
  color: $main_color2
  font: 12px/16px helvetica,arial,sans-serif 
  .container
    width: 960px
    margin: 0 auto
    overflow: hidden
    h1, h2, h3, h4
      color: $main_color
    h2
      font-size: 24px
    h3 
      font-size: 16px
      font-weight: bold
    h4
      font-size: 16px
    p
      margin-bottom: 15px
    hr
      color: $main_color
      border: none
      height: 1px
      background: $main_color
    input.error
      border: 1px solid #FF0000
    label.error
      color: #FF0000
      margin-top: 5px

//header
.logo
  width: 230px
  height: 120px
  float: left
  h1
    text-indent: -99999px
  a
    background: url('logo.png') no-repeat
    width: 230px
    height: 94px
    display: block
hr.right
  width: 230px
  float: right
  margin-top: 118px
nav.header
  width: 500px
  margin: 108px 0 30px 0
  float: left
  a
    color: $main_color
    font-size: 16px
    font-weight: bold
    display: block
    float: left
    margin-left: 30px
    line-height: 19px
    &:hover
      text-decoration: underline

//header user
header.user
  .left
    float: left
    h2
      margin: 84px 0 20px 0
  nav.header
    float: left
    width: 535px
    ul
      li
        a
          margin-left: 20px
          font-weight: normal
      .last
        margin-right: 0
  .logo
    float: right
  hr.right
    margin-top: 0

//footer
section.footer
  width: 100%
  float: left
  color: $main_color
  margin-top: 15px
  address
    float: left
    width: 260px
    margin-left: 105px
  p 
    margin-bottom: 2px 
  a
    color: $main_color
    float: right
    width: 248px
    text-align: center

//home
section.home
  float: left
  border-bottom: $border_default
  figure
    width: 688px
    height: 310px
    overflow: hidden  
    position: relative
    margin: 0 auto
    ul#slide_index
      background: #FFF
      +border-radius( 0 0 0 10px )
      position: absolute
      left: 600px
      top: 0
      width: 90px
      li
        display: inline
        a 
          color: #000
          display: block
          float: left
          font-size: 16px
          margin: 0 0 2px 7px
          padding: 3px 5px
      li.active
        a
          background: $main_color
          +border-radius( 5px )
          color: #FFF
    ul.slide_container
      width: 100%
      li
        position: absolute
        left: 0
        top: 0
        z-index: -1
        img
          min-width: 688px
          max-width: 688px
          max-height: 310px
  article.welcome
    float: left
    width: 100%
    border-bottom: $border_default
    header
      width: 688px
      margin: 32px 0 16px 137px
      h2
        text-align: center
    p
      width: 688px
      text-align: justify
      margin-left: 137px
      text-indent: 15px
  section
    margin-top: 15px
    width: 100%
    height: 205px
    float: left
    overflow: hidden
    aside
      width: 140px
      float: left
      padding-left: 80px
      margin-top: 20px
      h3
        margin-bottom: 15px
        a
          +atitle
      ul
        li
          margin-bottom: 15px
          display: block
          a
            &:hover
              background: url('link-p-hover.png') no-repeat
              color: $main_color
              padding-left: 15px
    article
      width: 490px
      float: left
      border-left: $border_default
      border-right: $border_default
      padding: 0 15px
      p
        text-indent: 15px
        a
          color: $main_color
    figure
      width: 218px
      float: left
      margin-top: 20px
      a
        +atitle
        margin-left: 50px
        background: url(contact.png) no-repeat -8px 30px
        width: 100px
        height: 146px
        display: block

//unifloor
section.unifloor
  border-bottom: $border_default
  float: left
  width: 100%
  article
    width: 375px
    float: left
    margin: 0 100px 30px 95px
    p
      text-indent: 30px

//produtos
section.products
  margin-top: 50px
  @extend .unifloor
  aside
    +aside_menu
  section#top_plus, #parquet
    width: 615px
    float: left
    margin-left: 120px
    header
      margin-bottom: 30px
    figure
      width: 610px
      height: 110px
      float: left
      overflow: hidden
      ul.slide_products
        width: 610px * 7
        height: 110px
        float: left
        li
          @extend figure
          display: block
          img
          @extend li
    article
      width: 255px
      float: left
      margin: 15px 0 0 15px
      p.last
        margin: -15px 0 0 62px
    aside.colors
      border: none
      width: 130px
      float: right
      margin-bottom: 50px
      header
        margin-top: 15px
      ul
        margin-left: 15px
        li
          a
            padding-left: 15px
            &:hover
              background: url('link-p-hover.png') no-repeat
              color: $main_color
        li.active
          a
            background: url('link-p-hover.png') no-repeat
            color: $main_color
  section#parquet
    display: none

//acessórios
section.accessories
  @extend .unifloor
  article
    width: 750px
  aside
    +aside_menu
  section#redutor
    width: 610px
    float: left
    margin: 0 0 50px 120px
    h2
      margin-bottom: 30px
  section#trasicao, section#rodape
    @extend #redutor
    display: none

//contato
section.contact
  @extend .unifloor
  margin-top: 50px
  article
    width: 790px
    float: left
  figure
    width: 300px
    height: 430px
    float: left
    margin-left: 96px
  form
    width: 455px
    float: left
    margin: 0 0 100px 20px
    span
      width: 435px
      float: left
      color: $main_color
    p
      width: 435px
      float: left
      textarea
        height: 160px
    input
      &[type=submit]
        width: 81px
        float: right
        margin-right: 62px
        color: $main_color
        border: $border_default
        cursor: pointer

//messages
section.message_ok
  @extend .unifloor
  text-align: center
  height: 500px
  padding-top: 20px
  h2
    margin-bottom: 30px

//sign input
section.sign_in
  @extend .unifloor
  .left
    float: left
    width: 500px
    margin-bottom: 60px
    h2
      margin-bottom: 30px
    strong
      font:
        wight: bold
        size: 16px
    p
      margin-top: 10px
    a
      color: $main_color
    form
      ul
        li
          margin-bottom: 5px
          label
            color: $main_color
          input
            &[type="submit"]
              width: 81px
              float: right
              margin-right: 108px
              color: $main_color
              border: $border_default
              cursor: pointer
              float: right
        li.more_gap
          margin-bottom: 25px
  .right
    float: left
    width: 960px - 500px
    figure
      float: right
      img
        height: 344px

//new representative
section.representative
  @extend .unifloor
  h2
    margin-bottom: 30px
  span
    float: left
  form
    width: 100%
    ul
      width: 835px
      overflow: hidden
      margin: 0 auto
      li
        margin-bottom: 25px
        float: left
        margin-right: 25px
        label
          color: $main_color
          display: block
        input
          &[type="submit"]
            width: 81px
            float: right
            margin-right: 108px
            color: $main_color
            border: $border_default
            cursor: pointer
      li.m_right
        margin: 0 50px 25px 0
      li.submit
        overflow: hidden
        clear: both
  a.back
    +button( $main_color, #FFF, 18px )
    float: right
    margin-bottom: 20px



//new employees
section.employees
  @extend .representative

//new admins
section.admins
  @extend .representative

//associates
section.associates
  @extend .unifloor
  .administrator, .representative, .emplooye
    margin: 46px
    float: left
    width: 203px
    li
      list-style: none
      margin-bottom: 10px
    strong
      color: $main_color
      font-size: 18px
      display: block
      margin-bottom: 10px
    ul
      margin-bottom: 10px
    span
      font-size: 16px
      color: lighten($main_color2, 20)
      margin-right: 10px
    a
      font-weight: bold
      display: block
      &:hover
        color: $main_color
        text-decoration: underline
  a.back
    +button( $main_color, #FFF, 18px )
    float: right
    margin-bottom: 20px

//dashboard
section.dashboard
  @extend .unifloor
  padding-bottom: 50px
  h2
    margin-bottom: 30px
  p
    font-size: 18px
  strong
    color: #706459
    font-size: 20px
    margin: 10px 0 20px 10px
    float: left
  nav
    width: 100%
    float: left
    ul
      width: 100%
      li
        display: inline
        float: left
        a
          color: $main_color
          font-size: 18px
          display: block
          margin-left: 30px
          &:hover
            text-decoration: underline
  a.back
    +button( $main_color, #FFF, 18px )
    float: right
    margin-bottom: 20px

    
//new_costumers
section.new_costumers
  @extend .representative
  form
    input
      &[type="submit"]
      float: left

//categories
section.categories
  @extend .unifloor
  h2
    margin-bottom: 30px
  table
    float: left
    display: block
    margin: 0 10px 30px 0
    width: 100%
    tr
      th
        color: $main_color
        font-size: 18px
        padding-bottom: 10px
        width: 200px
      td
        width: 200px
        font-size: 18px
        padding-bottom: 5px
        strong
          color: $main_color2
          font-size: 18px
        a
          color: lighten($main_color2, 20)
          font-size: 18px
          &:hover
            color: $main_color
            text-decoration: underline
  a.back
    +button( $main_color, #FFF, 18px )
    float: right
    margin-bottom: 20px
  
//categories new
section.categories_new, .edit_categories
  @extend .unifloor
  h2
    margin-bottom: 30px
  form
    float: left
    margin-bottom: 50px
    .field
      float: left
      margin: 0 20px 20px 0
      label
        display: block
        float: left
        color: $main_color
        font-size: 16px
        margin-bottom: 10px
        width: 100%
      label.error
        color: #FF0000
      input
        display: block
      select
        background: none
        +border-radius(5px)
        border: solid 1px #7A6B68
        width: 392px
        height: 37px
    .actions
      input
        &[type="submit"]
        float: left
        width: 81px
        color: $main_color
        border: $border_default
        cursor: pointer
  >a.back
    +button( $main_color, #FFF, 18px )
    float: right
    margin-bottom: 20px

//categories show
section.categories_show
  @extend .representative
  padding-bottom: 30px
  strong  
    color: $main_color
    font-size: 18px
    float: left
    margin-right: 10px
  span
    font-size: 16px
  .edit_back
    float: right
    a
      color: $main_color
      font-size: 16px
      &:hover
        text-decoration: underline

//products
section.products, .orders, .stocks, .orders_show, .customers, .admins_show, .representatives_show, .employees_show
  @extend .categories
  

//products new
section.products_new, .edit_products, .orders_new, .edit_orders, .stocks_new, .edit_stocks, .representative_edit, .edit_employees, .edit_admins
  @extend .categories_new
  a
    color: $main_color
    font-size: 16px
  form
    width: 394px
    .right
      float: right

//products show
section.products_show, .stocks_show, .show_customers
  @extend .categories_show







      



     


