!!!
%html
  %head
    %title 
      UniFloor | #{@title}
    =stylesheet_link_tag    "application", :media => "all"
    =javascript_include_tag "application"
    <meta name="google-site-verification" content="7yKr3LRahAG7HvFtLmDzUGOOEUKb9SKTzsXvLJQ-5a8" /> 
    =csrf_meta_tags 
  %body
    .container
      %header
      =render 'layouts/header'
      =yield 
      %footer
      =render 'layouts/footer'


