!!!
%html
  %head
    %title 
      UniFloor | #{@title}
    =stylesheet_link_tag    "application", :media => "all"
    =stylesheet_link_tag    "dropkick"
    <meta name="google-site-verification" content="7yKr3LRahAG7HvFtLmDzUGOOEUKb9SKTzsXvLJQ-5a8" /> 
    =csrf_meta_tags 
  %body
    .container
      - if current_user
        %header
          =render 'layouts/header_user'
      - else
        %header
          =render 'layouts/header'
      =yield 
      %footer
        =render 'layouts/footer'
    =javascript_include_tag "application"
    =javascript_include_tag "jquery.validate"
    =javascript_include_tag "jquery.dropkick-1.0.0"